/*Global  */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,/*ol,ul,li,*/
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:top}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

html,
body,
#map {
  width: 100vw;
}

html{width:100%; font-size: 13px;}

a{text-decoration : none; }

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,/*ol,ul,li,*/
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  font-family: "Trebuchet MS";
  user-select: none;
}

.c_green {
    color: #419443;
  }
  .bg_green {
    background-color: #419443;
  }
  .bd_green {
    border: 1px solid #419443;
    border-radius: 5px;
  }

/* NAVBAR */

#header {
    position: fixed;
    z-index: 1001;
    width: 100%;
    box-shadow: 5px 3px 13px 0px rgba(0, 0, 0, 0.86);
}

.navbar-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: #54545A;
    background-color: #4caf50;
    font-size: 19px;
    box-shadow: 0 0px 3px 1px rgba(0,0,0,0.2);
    background-image: linear-gradient(135deg,#00b7ff,#ffffc2);
}

.tampon{
    height: 58px;
}

.navbar-header > div {
    height: 58px;
}
.navbar-header > .ligne1 > div {
    height: 58px;
    /* width: 58px; */
    line-height: 58px;
    display: inline-block;
    min-width: 20px;
    overflow: hidden;
    /* padding-left: 16px; */
    font-size: 20px;
    color: white;
    float: left;
    overflow: hidden;
}

.navbar-header > .ligne1 .button-1 {
    width: 14%;
    /* margin-left: 16px; */
     text-align: center;
}

.ligne1 .button-1 img {
    /* width: 23px; */
    height: 23px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-header > .ligne1 .Text-1 {
    width: 86%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-header > .ligne1 .Text-1.noButton{
    margin-left:16px;
}



/* FOOTER */

.tampon_footer {
    height: 42px;
  }
  .zoneButton {
    text-align: center;
    position: relative;
    width: 100%;
    height: 60px;
  }
  
  menufooter {
    display: block;
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    top: 0;
    transform: translateY(59px);
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.38);
    background-image: linear-gradient(#1c91bf,#ffffc2);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  menufooter .listItemMenu {
    height: calc(100% - 130px);
    /* height: 100%; */
    overflow-y: scroll;
  }
  
  menufooter.down {
    transform: translateY(calc(100% - 42px));
  }
  
  menufooter .zoneButton img {
    padding: 5px;
    top: 0px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: top 0.4s 0.2s ease-in-out, opacity 0.2s 0.2s linear;
  }
  menufooter .zoneButton div {
    border-radius: 35px;
    border: 4px solid #ffffff;
    padding: 5px;
    /* top: 0px; */
    transform: translateY(0px);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 42px;
    background-image: linear-gradient(-45deg,#00b7ff,#ffffc2);
    height: 42px;
    transition: transform 0.4s 0.3s ease-in-out;
  }
  
  menufooter .zoneButton div.down {
    transform: translateY(-29px);
    border-color: #1e92bf;
  }
  
  menufooter .zoneButton img.hamburger.down {
    opacity: 1;
  }
  
  menufooter .zoneButton img.close.down {
    opacity: 0;
  }
  
  menufooter .zoneButton img.hamburger {
    opacity: 0;
  }
  
  menufooter .zoneButton img.close {
    opacity: 1;
  }
  
  menufooter .listItemMenu .item {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    width: calc( 100% - 22.500px );
    margin: auto;
    max-width: 768px;
    margin-top: 9.25px;
    height: 72px;
    border-radius: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    font-weight: bold;
    display: flex;
    background-image: linear-gradient(153deg,#00b7ff,#ffffc2);
  }
  menufooter .listItemMenu .tamponbottommenu {
    height: 10px;
  }
  
  menufooter .listItemMenu .item .icon {
    padding: 8px;
    flex-grow: 0; /* do not grow   - initial value: 0 */
    flex-shrink: 0; /* do not shrink - initial value: 1 */
    flex-basis: 40px;
    height: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 6px;
    border: 2px solid #ADB1AE;
    border-radius: 25px 7px 25px 7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 72%;
  }
  
  menufooter .listItemMenu .item .icon img {
    /* width: 56px; */
  }
  
  menufooter .listItemMenu .item .text {
    flex: 1 1 auto;
    padding: 7px;
    color: white;
    font-size: 0.9rem;
  }
  
  menufooter .listItemMenu .item .text .title {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
  }
  menufooter .listItemMenu .item .text .description {
    text-align: justify;
    padding-top: 5px;
  }

  @media (max-width: 330px) {
    div#APP_content {
      /* height: 100%; */
      height: calc(100vh - 60px - 42px);
    }
  
    menufooter {
      transform: translateY(62px);
    }
    .tampon {
      height: 60px;
    }
}