<!DOCTYPE html>
<html ng-cloak>
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="
        default-src 'self' data: gap: blob: https://ssl.gstatic.com  https://api.tiles.mapbox.com/ https://events.mapbox.com/ https://api.mapbox.com/  'unsafe-eval' ;
         style-src 'self' 'unsafe-inline';
          media-src *;
           img-src 'self'  https://api.tiles.mapbox.com/ data: blob: android-webview-video-poster: content:;
"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width, viewport-fit=cover"
    />
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
</style>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, width=device-width, height=device-height, viewport-fit=cover"
    />
    <title>Portfolio de Jimmy Billan</title>
  </head>
  <body >
      
    <div id="header" ng-controller="navBar-header">
      <div class="navbar-header default-primary-color">
        <div class="ligne1 ng-scope" ng-if="level0navbar">
          <div  class="button-1" ng-show="mNavbarbutton.back" ng-click="$root.back()">
            <img src="img/svg/left-curve-arrow.svg" />
          </div>
          <div class="button-1_tampon" ng-show="!mNavbarbutton.back"></div>
          <div class="Text-1 simple"  ng-class="{'noButton' : mNavbarbutton.title_noButton == true}">
            {{ mNavbarbutton.title }}
          </div>
        </div>
      </div>
    </div>
    <div class="tampon"></div>
    <div id="APP_content">
      <div ng-view ng-cloak class="page"></div>
    </div>
    
    
    
    <menufooter ng-controller="menuFooter" ng-class="{'down': menuisdown}">
      <div id="zoneButton" class="zoneButton" ng-click="clickMenuToggle()">
            <div ng-class="{'down': menuisdown}"><img
              ng-class="{'down': menuisdown}"
              style="    width: 54px;
              padding-left: 0px;
              padding-top: 4px;
              margin-right: -6px;"
              src="img/svg/menuclose.svg"
              class="close"
            />
            <img
            ng-class="{'down': menuisdown}"
            style="width: 41px;"
            src="img/svg/menu.svg"
            class="hamburger"
          />
        </div>
      </div>
      <div class="listItemMenu">

          <a ng-href="#!{{men.href}}"  ng-repeat="men in strucMenu" >
            
            <div class="item bg_green">
                <div class="icon" style="background-image:url({{men.src}})">
                </div>
                <div class="text">
                  <div class="title">{{men.title}}</div>
                  <div class="description">{{men.description}}
                  </div>
                </div>
            </div>
          </a>
          <div class="tamponbottommenu"></div>
      </div>
    </menufooter>


    <script type="text/javascript" src="dist/app.min.js"></script>

  </body>
</html>