<div class="simplepage">
       

    <h1>Contactez-moi via le réseau Linkedin</h1>
    <div class="zone_button">
        <button><a target="_blank" href="https://www.linkedin.com/in/jimmy-billan-3510a7109/">Mon linkedin</a></button>
    </div>
    <div class="zone_fiche">
        <div class="item">
            <div class="label">Prénom</div>
            <div class="Title">Jimmy</div>       
        </div>
        <div class="item">
            <div class="label">Nom</div>
            <div class="Title">Billan</div>       
        </div>
        <div class="item">
            <div class="label">Age</div>
            <div class="Title">27 ans</div>       
        </div>
    </div> 
</div>
<div class="tampon_footer"></div>

